input{
    box-shadow: none !important;
}

.correct:focus{
    border: 2.5px #00e00ff3 solid !important;
    box-shadow: 0px 0px 7px 2px #00e00ff3 !important;
}
.incorrect:focus{
    border: 2.5px #fc2702f3 solid !important;
    box-shadow: 0px 0px 7px 2px #fc2702f3 !important;
}